{% extends "base_generic.html" %}

{% block content%}
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Formulario</h1>
                <a class="btn btn-primary js-scroll-trigger" href="#formulario">Empecemos</a>
            </div>
        </div>
    </header>
    
    <section class="page-section bg-black">
        <div class="container font_form text-white">
        <h2>Listado de Curiosidades</h2>
        <a class="btn btn-primary" href="{% url 'curiosidad_create' %}" role="button">Nuevo Producto</a>

        <div class="table-responsive text-white">
            <table class="table table-striped table-sm text-white">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                </tr>
                </thead>
                <tbody>
                {% for curiosidad in curiosidad_list %}
                <tr>
                    <td>{{curiosidad.iden}}</td>
                    <td>{{curiosidad.name}}</td>
                    <td>{{curiosidad.description}}</td>
                    <td>
                        <a class="btn btn-primary" href="{{curiosidad.iden}}/update" role="button">Editar</a>
                        <a class="btn btn-primary" href="{{curiosidad.iden}}" role="button">Ver</a>
                        <a class="btn btn-primary" href="{{curiosidad.iden}}/delete" role="button">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
                
                </tbody>
            </table>
            </div>
        </div>
    </section>
{% endblock %}