{% extends "base_generic.html" %}

{% block content%}
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Formulario</h1>
                <a class="btn btn-primary js-scroll-trigger" href="#formulario">Empecemos</a>
            </div>
        </div>
    </header>

    <section class="page-section bg-black" id="formulario">
        <div class="container font_form text-white">
            <h1>Creando Curiosidad</h1>

            <form id="formulario" action ="" method="post">
                {%csrf_token%}
                <table>
                    {{form.as_table}}

                </table>
                <input type="submit" value ="Enviar" class="btn btn-primary">
            </form>
        </div>
    </section>
{%endblock%}