input {
    float: left;
    margin-bottom: 10px;
}

.error-control {
    border: 1px solid purple;
}

label.error {
    color: purple;
    width: 300px;
    font-size: 0.8em;
    margin-top: -5px;
    margin-bottom: 10px;
}

#formulario button{
    min-width: 100px;
}

.motivo{
    font-size: 20px;
}